.version.index /* version checker */
{
	color:#000010;
	background-color:#8F4656;
}

.html
{
	background:#FFFFFF url("../images/backgroundCOM.jpg") no-repeat center top fixed;
}

#page
{
	z-index:1;
	width:980px;
	/*min-height:3214.932978794864px;*/
	background-image:none;
	border-style:none;
	border-color:#000000;
	background-color:transparent;
	padding-bottom:0;
	margin-left:auto;
	margin-right:auto;
}

#page_position_content
{
	margin-bottom:-183px;
	width:0.01px;
}

#slideshowu3940
{
	z-index:174;
	width:0.01px;
	height:762px;
	left:-100px;
	position:relative;
}

#u3956
{
	position:absolute;
	width:1180px;
	height:762px;
	background-color:transparent;
}

#u3956popup
{
	z-index:175;
}

#u3959
{
	z-index:176;
	width:1180px;
	height:762px;
	border-style:none;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background:url("../images/loading.gif") no-repeat center center;
}

#u2126
{
	z-index:181;
	height:150px;
	border-style:solid;
	border-color:#B1B1B1;
	background-color:#FFFFFF;
	opacity:0.85;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter:alpha(opacity=85);
	position:fixed;
	top:0;
	border-width:0 0 1px;
}

#u2126-bw
{
	z-index:181;
}

#u3807
{
	z-index:213;
	width:171px;
	background-color:transparent;
	position:fixed;
	top:15px;
	left:50%;
	margin-left:-104px;
}

#menuu2127
{
	z-index:182;
	width:738px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:fixed;
	top:104px;
	left:50%;
	margin-left:-391px;
}

#u2128
{
	width:167px;
	min-height:33px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
}

#u2129
{
	width:167px;
	border-color:#FFFFFF;
	background-color:transparent;
	padding-bottom:13px;
	position:relative;
}

#u2129:hover
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	width:167px;
	min-height:0;
	margin:-1px;
}

#u2129.MuseMenuActive
{
	border-style:none;
	border-color:#000000;
	width:167px;
	min-height:0;
	margin:0;
}

#undertabsBILD
{
	height:20px;
	width:137px;
	vertical-align:top;
	position:relative;
	margin-right:-10000px;
	top:6px;
	left:15px;
	background:url("../images/undertabsBILD.png") no-repeat 0 0;
}

#u2129:hover #undertabsBILD
{
	background:url("../images/undertabsBILD.png") no-repeat 0 0;
}

#u2129.MuseMenuActive #undertabsBILD
{
	background:url("../images/undertabsBILD.png") no-repeat 0 0;
}

#u2156
{
	width:165px;
	min-height:33px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:169px;
}

#u2157
{
	width:165px;
	border-color:#FFFFFF;
	background-color:transparent;
	padding-bottom:13px;
	position:relative;
}

#u2157:hover
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	width:165px;
	min-height:0;
	margin:-1px;
}

#u2157.MuseMenuActive
{
	border-style:none;
	border-color:#000000;
	width:165px;
	min-height:0;
	margin:0;
}

#u2160
{
	height:20px;
	width:135px;
	vertical-align:top;
	position:relative;
	margin-right:-10000px;
	top:6px;
	left:15px;
	background:url("../images/u2160.png") no-repeat 0 0;
}

#u2157:hover #u2160
{
	background:url("../images/u2160-r.png") no-repeat 0 0;
}

#u2157.MuseMenuActive #u2160
{
	background:url("../images/u2160-a.png") no-repeat 0 0;
}

#u2163
{
	width:213px;
	min-height:33px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:336px;
}

#u2166
{
	width:213px;
	border-color:#FFFFFF;
	background-color:transparent;
	padding-bottom:13px;
	position:relative;
}

#u2166:hover
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	width:213px;
	min-height:0;
	margin:-1px;
}

#u2166.MuseMenuActive
{
	border-style:none;
	border-color:#000000;
	width:213px;
	min-height:0;
	margin:0;
}

#u2168
{
	height:20px;
	width:183px;
	vertical-align:top;
	position:relative;
	margin-right:-10000px;
	top:6px;
	left:15px;
	background:url("../images/u2168.png") no-repeat 0 0;
}

#u2166:hover #u2168
{
	background:url("../images/u2168-r.png") no-repeat 0 0;
}

#u2166.MuseMenuActive #u2168
{
	background:url("../images/u2168-a.png") no-repeat 0 0;
}

#u3788
{
	width:185px;
	min-height:31px;
	background-color:transparent;
	padding:1px;
	position:relative;
	margin-right:-10000px;
	left:551px;
}

#u3789
{
	width:185px;
	border-color:#FFFFFF;
	background-color:transparent;
	padding-bottom:11px;
	position:relative;
}

#u3789:hover
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	width:185px;
	min-height:0;
	margin:-1px;
}

#u3789.MuseMenuActive
{
	border-style:none;
	border-color:#000000;
	width:185px;
	min-height:0;
	margin:0;
}

#u3791
{
	height:20px;
	width:156px;
	vertical-align:top;
	position:relative;
	margin-right:-10000px;
	top:5px;
	left:14px;
	background:url("../images/u3791.png") no-repeat 0 0;
}

#u3789:hover #u3791
{
	background:url("../images/u3791-r.png") no-repeat 0 0;
}

#u3789.MuseMenuActive #u3791
{
	background:url("../images/u3791-a.png") no-repeat 0 0;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor:pointer;
}

#u2777
{
	z-index:179;
	height:52px;
	width:507px;
	vertical-align:top;
	margin-left:235px;
	top:-356px;
	margin-bottom:-52px;
	position:relative;
	background:url("../images/headlineUndertext.png") no-repeat 0 0;
}

#u2777:hover
{
	background:url("../images/headlineUndertext.png") no-repeat 0 0;
}

.js #u2777.ose_pre_init
{
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
}

#ombathlife
{
	left:-100px;
	top:-147px;
	margin-bottom:-18px;
	position:relative;
}

#u2191-4
{
	z-index:131;
	display:block;
	vertical-align:top;
	margin-top:29px;
	position:relative;
}

#u2199
{
	z-index:139;
	width:175px;
	height:2px;
	border-color:#000000;
	background-color:#000000;
	margin-left:403px;
	margin-top:2px;
	position:relative;
}

div.fullcolumn
{
	z-index:135;
	width:979px;
	min-height:55px;
	border-style:none;
	background-color:transparent;
	line-height:22px;
	margin:21px 0 0;
	padding-top:0;
	padding-bottom:0;
	position:relative;
}

div.fullcolumn h2{
    font-size:1.7em;
    line-height:1.8em;
}

#pinspiration
{
	width:0.01px;
	margin-left:-100px;
	margin-top:27px;
}

#inspiration
{
	position:relative;
	width:22px;
	margin-right:-10000px;
	margin-top:311px;
}

#u2677
{
	z-index:142;
	width:303px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:0;
	position:relative;
	margin-right:-10000px;
	left:100px;
}

#u2660
{
	z-index:153;
	width:303px;
	height:186px;
	border-color:#000000;
	position:relative;
	background:#FFFFFF url("../images/MUNSTYCKe_COMFORN.jpg") no-repeat center center;
	background-size:cover;
}

#u2196-6
{
	z-index:147;
	display:block;
	vertical-align:top;
	margin-top:11px;
	position:relative;
}

#u2193-4
{
	z-index:143;
	width:303px;
	min-height:88px;
	background-color:transparent;
	line-height:22px;
	margin-top:20px;
	position:relative;
}

#u2207
{
	z-index:140;
	width:1px;
	height:356px;
	border-color:#000000;
	background-color:#E5E5E5;
	position:relative;
	margin-right:-10000px;
	left:420px;
}

#u2679
{
	z-index:154;
	width:303px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:438px;
}

#u2678
{
	z-index:163;
	width:303px;
	height:186px;
	border-color:#000000;
	position:relative;
	background:#FFFFFF url("../images/MUNSTYCKe_COMFORN.jpg") no-repeat center center;
	background-size:cover;
}

#u2197-4
{
	z-index:159;
	display:block;
	vertical-align:top;
	margin-top:12px;
	position:relative;
}

#u2194-4
{
	z-index:155;
	width:303px;
	min-height:88px;
	background-color:transparent;
	line-height:22px;
	margin-top:19px;
	position:relative;
}

#u2208
{
	z-index:141;
	width:1px;
	height:356px;
	border-color:#000000;
	background-color:#E5E5E5;
	position:relative;
	margin-right:-10000px;
	margin-top:1px;
	left:758px;
}

#pu3704
{
	width:0.01px;
	padding-bottom:0;
	margin-right:-10000px;
	margin-left:776px;
}

#u3704
{
	z-index:173;
	width:303px;
	height:186px;
	border-color:#000000;
	position:relative;
	background:#FFFFFF url("../images/MUNSTYCKe_COMFORN.jpg") no-repeat center center;
	background-size:cover;
}

#u2681
{
	z-index:164;
	width:303px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:0;
	margin-top:13px;
	position:relative;
}

#u2198-4
{
	z-index:169;
	display:block;
	vertical-align:top;
	position:relative;
}

#u2195-4
{
	z-index:165;
	width:303px;
	min-height:88px;
	background-color:transparent;
	line-height:22px;
	margin-top:18px;
	position:relative;
}

#u2281-4
{
	z-index:86;
	display:block;
	vertical-align:top;
	margin-top:44px;
	position:relative;
}

#u2283
{
	z-index:94;
	width:175px;
	height:2px;
	border-color:#000000;
	background-color:#000000;
	margin-left:403px;
	position:relative;
}

#u2282-4
{
	z-index:90;
	width:979px;
	min-height:46px;
	border-style:none;
	background-color:transparent;
	line-height:22px;
	margin-top:22px;
	position:relative;
}

#u2282-4:hover
{
	background-color:transparent;
	padding-top:0;
	padding-bottom:0;
	min-height:46px;
	width:979px;
	margin:22px 0 0;
}

#u2282-4:active
{
	background-color:transparent;
	padding-top:0;
	padding-bottom:0;
	min-height:46px;
	width:979px;
	margin:22px 0 0;
}

#slideshowu4285
{
	z-index:100;
	width:0.01px;
	height:590px;
	margin-top:19px;
	position:relative;
}

#u4301
{
	position:absolute;
	width:979px;
	height:501px;
	background-color:transparent;
	top:89px;
}

#u4301popup
{
	z-index:101;
}

#u4489
{
	z-index:102;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4498
{
	z-index:104;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4507
{
	z-index:106;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4516
{
	z-index:108;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4534
{
	z-index:110;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4543
{
	z-index:112;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4552
{
	z-index:114;
	width:979px;
	height:501px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	margin-right:-10000px;
	position:relative;
}

#u4287
{
	position:absolute;
	width:979px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	padding-bottom:89px;
}

#u4287popup
{
	z-index:116;
}

#u4492
{
	z-index:117;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:15px;
}

#u4501
{
	z-index:119;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:152px;
}

#u4501_img
{
	padding:1px 8px;
}

#u4510
{
	z-index:121;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:289px;
}

#u4519
{
	z-index:123;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:426px;
}

#u4519_img
{
	margin:-1px 6px -2px;
}

#u4537
{
	z-index:125;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:563px;
}

#u4492_img,#u4510_img,#u4537_img
{
	padding-left:7px;
	padding-right:7px;
}

#u4546
{
	z-index:127;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:700px;
}

#u4546_img
{
	padding:2px 8px 2px 9px;
}

#u4555
{
	z-index:129;
	width:127px;
	height:75px;
	border-color:#6B6B6B;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:4px;
	left:837px;
}

#u4492.SSSlideLinkSelected,#u4501.SSSlideLinkSelected,#u4510.SSSlideLinkSelected,#u4519.SSSlideLinkSelected,#u4537.SSSlideLinkSelected,#u4546.SSSlideLinkSelected,#u4555.SSSlideLinkSelected
{
	border-style:none;
	border-color:transparent;
	width:127px;
	height:75px;
	min-height:0;
	margin:4px -10000px 0 0;
}

#u4519_clip,#u4555_clip
{
	overflow:hidden;
	width:127px;
	height:75px;
}

#u4555_img
{
	margin:-3px 4px -4px 5px;
}

#aterforsaljare
{
	left:-100px;
	top:-180px;
	margin-bottom:-18px;
	position:relative;
}

#u3801-4
{
	z-index:95;
	display:block;
	vertical-align:top;
	margin-top:36px;
	position:relative;
}

#u3802
{
	z-index:99;
	width:175px;
	height:2px;
	border-color:#000000;
	background-color:#000000;
	margin-left:403px;
	position:relative;
}

#pu4926
{
	width:0.01px;
	margin-top:31px;
}

#u4926
{
	z-index:62;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:28px;
	position:relative;
	margin-right:-10000px;
}

#u4927
{
	z-index:63;
	width:149px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:27px;
	left:43px;
}

#u4929
{
	z-index:65;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:42px;
	position:relative;
	margin-right:-10000px;
	left:249px;
}

#u4930
{
	z-index:66;
	width:170px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:42px;
	left:32px;
}

#u4932
{
	z-index:68;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:23px;
	position:relative;
	margin-right:-10000px;
	left:497px;
}

#u4933
{
	z-index:69;
	width:158px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:33px;
	left:38px;
}

#u4935
{
	z-index:71;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:23px;
	position:relative;
	margin-right:-10000px;
	left:746px;
}

#u4936
{
	z-index:72;
	width:138px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:23px;
	left:48px;
}

#pu4938
{
	width:0.01px;
	margin-top:15px;
}

#u4938
{
	z-index:74;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:36px;
	position:relative;
	margin-right:-10000px;
}

#u4939
{
	z-index:75;
	width:147px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:35px;
	left:44px;
}

#u4941
{
	z-index:77;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:27px;
	position:relative;
	margin-right:-10000px;
	left:249px;
}

#u4942
{
	z-index:78;
	width:149px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:26px;
	left:43px;
}

#u4944
{
	z-index:80;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:32px;
	position:relative;
	margin-right:-10000px;
	left:497px;
}

#u4945
{
	z-index:81;
	width:127px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:31px;
	left:54px;
}

#u4947
{
	z-index:83;
	width:234px;
	border-style:none;
	border-color:transparent;
	background-color:#E5E5E5;
	padding-bottom:29px;
	position:relative;
	margin-right:-10000px;
	left:746px;
}

#u4926:hover,#u4929:hover,#u4932:hover,#u4935:hover,#u4938:hover,#u4941:hover,#u4944:hover,#u4947:hover
{
	border-width:1px;
	border-style:solid;
	border-color:#000000;
	border-radius:0;
	width:234px;
	min-height:0;
	margin:-1px -10001px -1px -1px;
}

#u4948
{
	z-index:84;
	width:133px;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:34px;
	left:51px;
}

#kontakt
{
	left:-100px;
	margin-top:109px;
	position:relative;
}

#u3804
{
	z-index:61;
	width:175px;
	height:2px;
	border-color:#000000;
	background-color:#000000;
	margin-left:402px;
	position:relative;
}

#u1765-4
{
	z-index:2;
	display:block;
	vertical-align:top;
	top:-64px;
	margin-bottom:-62px;
	position:relative;
}

#widgetu1733
{
	z-index:6;
	width:0.01px;
	height:329px;
	margin-top:30px;
	position:relative;
}

#u1734-17
{
	z-index:7;
	min-height:48px;
	width:980px;
	position:relative;
	margin-right:-10000px;
	margin-top:247px;
	background:url("../images/u1734-17.png") no-repeat 0 0;
}

#u1734-17:hover
{
	background:url("../images/u1734-17-r.png") no-repeat 0 0;
}

#u1734-17:active
{
	background:url("../images/u1734-17-m.png") no-repeat 0 0;
}

#widgetu1733.frm-sub-st #u1734-17
{
	background:url("../images/u1734-17-fs.png") no-repeat 0 0;
}

#widgetu1735
{
	z-index:24;
	width:310px;
	height:52px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:6px;
}

#widgetu1735:hover
{
	background-color:transparent;
	width:310px;
	height:52px;
	min-height:0;
	margin:0 -10000px 0 0;
}

#u1738-4
{
	z-index:25;
	width:298px;
	min-height:40px;
	border-color:#000000;
	background-color:#E5E5E5;
	padding:6px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#7F7F7F;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
}

#widgetu1735:hover #u1738-4
{
	background-color:#E5E5E5;
	padding-top:6px;
	padding-bottom:6px;
	min-height:40px;
	width:298px;
	margin:0 -10000px 0 0;
}

#widgetu1735:hover #u1738-4 *
{
	color:#000000;
}

#widgetu1750
{
	z-index:29;
	width:310px;
	height:52px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:335px;
}

#u1752-4
{
	z-index:30;
	width:298px;
	min-height:40px;
	border-color:#000000;
	background-color:#E5E5E5;
	padding:6px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#7F7F7F;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
}

#widgetu1750:hover #u1752-4
{
	background-color:#E5E5E5;
	padding-top:6px;
	padding-bottom:6px;
	min-height:40px;
	width:298px;
	margin:0 -10000px 0 0;
}

#widgetu1750:hover #u1752-4 *
{
	color:#000000;
}

#u1749-4
{
	z-index:34;
	width:308px;
	min-height:21px;
	background-color:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	padding-top:4px;
	line-height:14px;
	font-size:12px;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
	margin-top:304px;
	left:334px;
}

#widgetu1733.frm-sub-st #u1749-4 p
{
	color:#000000;
	text-align:center;
	line-height:1;
	font-size:18px;
	font-family:abel, sans-serif;
	font-weight:400;
	font-style:normal;
}

#u1739-4
{
	z-index:38;
	width:308px;
	min-height:21px;
	background-color:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	padding-top:4px;
	line-height:14px;
	font-size:12px;
	color:#FF0000;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
	margin-top:304px;
	left:334px;
}

#widgetu1733.frm-subm-err-st #u1739-4 p
{
	color:#D7244C;
	text-align:center;
	line-height:1;
	font-size:18px;
	font-family:abel, sans-serif;
	font-weight:400;
	font-style:normal;
}

#u1744-4
{
	z-index:42;
	width:308px;
	min-height:21px;
	background-color:transparent;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	padding-top:4px;
	line-height:12px;
	font-size:12px;
	color:#00FF00;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
	margin-top:304px;
	left:334px;
}

#widgetu1733.frm-sub-st #u1749-4,#widgetu1733.frm-subm-err-st #u1739-4,#widgetu1733.frm-subm-ok-st #u1744-4
{
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	min-height:25px;
}

#widgetu1733.frm-subm-ok-st #u1744-4 p
{
	color:#169300;
	text-align:center;
	font-size:18px;
	font-family:abel, sans-serif;
	font-weight:400;
	font-style:normal;
}

#widgetu1745
{
	z-index:46;
	width:980px;
	height:176px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	margin-top:71px;
}

#widgetu1745.fld-err-st
{
	background-color:transparent;
	border-radius:0;
	width:980px;
	height:176px;
	min-height:0;
	margin:71px -10000px 0 0;
}

#u1746-4
{
	z-index:47;
	width:968px;
	min-height:164px;
	border-color:#000000;
	background-color:#E5E5E5;
	padding:6px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#7F7F7F;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
}

#widgetu1745:hover #u1746-4
{
	background-color:#E5E5E5;
	padding-top:6px;
	padding-bottom:6px;
	min-height:164px;
	width:968px;
	margin:0 -10000px 0 0;
}

#widgetu1745.fld-err-st #u1746-4
{
	background-color:#FF0000;
	padding-top:6px;
	padding-bottom:6px;
	min-height:164px;
	width:968px;
	margin:0 -10000px 0 0;
}

#widgetu1745:hover #u1746-4 *
{
	color:#000000;
}

#u1746
{
	font-weight:400;
}

#widgetu1745_input,#widgetu1745_prompt
{
	width:968px;
	min-height:164px;
	color:#7F7F7F;
	text-align:center;
	font-family:abel, sans-serif;
	font-size:18px;
	font-weight:400;
	padding:6px;
}

#widgetu1740
{
	z-index:51;
	width:310px;
	height:52px;
	border-style:none;
	border-color:transparent;
	background-color:transparent;
	position:relative;
	margin-right:-10000px;
	left:665px;
}

#widgetu1735.fld-err-st,#widgetu1750.fld-err-st,#widgetu1740.fld-err-st
{
	background-color:transparent;
	border-radius:0;
	width:310px;
	height:52px;
	min-height:0;
	margin:0 -10000px 0 0;
}

#u1743-4
{
	z-index:52;
	width:298px;
	min-height:40px;
	border-color:#000000;
	background-color:#E5E5E5;
	padding:6px;
	line-height:40px;
	text-align:center;
	font-size:18px;
	color:#7F7F7F;
	font-family:abel, sans-serif;
	font-weight:400;
	position:relative;
	margin-right:-10000px;
}

#u1738-4::before,#u1752-4::before,#u1746-4::before,#u1743-4::before
{
	box-shadow:none;
}

#widgetu1740:hover #u1743-4
{
	background-color:#E5E5E5;
	padding-top:6px;
	padding-bottom:6px;
	min-height:40px;
	width:298px;
	margin:0 -10000px 0 0;
}

#widgetu1735.fld-err-st #u1738-4,#widgetu1750.fld-err-st #u1752-4,#widgetu1740.fld-err-st #u1743-4
{
	background-color:#FF0000;
	padding-top:6px;
	padding-bottom:6px;
	min-height:40px;
	width:298px;
	margin:0 -10000px 0 0;
}

#widgetu1740:hover #u1743-4 *
{
	color:#000000;
}

#widgetu1735.fld-err-st #u1738-4 *,#widgetu1750.fld-err-st #u1752-4 *,#widgetu1745.fld-err-st #u1746-4 *,#widgetu1740.fld-err-st #u1743-4 *
{
	color:#FFFFFF;
}

#widgetu1735_input,#widgetu1735_prompt,#widgetu1750_input,#widgetu1750_prompt,#widgetu1740_input,#widgetu1740_prompt
{
	width:298px;
	min-height:40px;
	color:#7F7F7F;
	text-align:center;
	font-family:abel, sans-serif;
	font-size:18px;
	font-weight:400;
	padding:6px;
}

#widgetu1735:hover #widgetu1735_input,#widgetu1735.fld-err-st #widgetu1735_input,#widgetu1735:hover #widgetu1735_prompt,#widgetu1735.fld-err-st #widgetu1735_prompt,#widgetu1750:hover #widgetu1750_input,#widgetu1750.fld-err-st #widgetu1750_input,#widgetu1750:hover #widgetu1750_prompt,#widgetu1750.fld-err-st #widgetu1750_prompt,#widgetu1745:hover #widgetu1745_input,#widgetu1745.fld-err-st #widgetu1745_input,#widgetu1745:hover #widgetu1745_prompt,#widgetu1745.fld-err-st #widgetu1745_prompt,#widgetu1740:hover #widgetu1740_input,#widgetu1740.fld-err-st #widgetu1740_input,#widgetu1740:hover #widgetu1740_prompt,#widgetu1740.fld-err-st #widgetu1740_prompt
{
	padding-top:6px;
	padding-bottom:6px;
}

#widgetu1735.non-empty-st #widgetu1735_prompt,#widgetu1750.non-empty-st #widgetu1750_prompt,#widgetu1745.non-empty-st #widgetu1745_prompt,#widgetu1740.non-empty-st #widgetu1740_prompt
{
	visibility:hidden;
}

#pu2960
{
	width:0.01px;
	margin-left:-100px;
	margin-top:76px;
}

#u2960
{
	z-index:56;
	min-height:298px;
	background-color:#000000;
}

#u2960_align_to_page
{
	margin-left:auto;
	margin-right:auto;
	width:980px;
	position:relative;
	left:-100px;
	padding-bottom:73px;
}

#u2967
{
	z-index:207;
	width:311px;
	background-color:transparent;
	left:434px;
	position:relative;
}

#u2974-4
{
	z-index:57;
	width:311px;
	min-height:29px;
	background-color:transparent;
	text-align:center;
	color:#FFFFFF;
	font-family:abel, sans-serif;
	font-weight:400;
	left:434px;
	margin-top:50px;
	position:relative;
}

#u2960-bw
{
	z-index:56;
	min-height:298px;
}

#u2973-4
{
	z-index:209;
	display:block;
	vertical-align:top;
	position:relative;
	margin-right:-10000px;
	margin-top:141px;
	left:310px;
}

body
{
	position:relative;
	min-width:980px;
	padding-bottom:182px;
}

#page .verticalspacer
{
	clear:both;
}

